image:
  repository: postgres
  tag: "16"
  pullPolicy: IfNotPresent


database:
  username: keycloak-prod
  password: prod123
  name: keycloak-prod


resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 300m
    memory: 512Mi

storage:
  size: 5Gi
  storageClass: local-path

service:
  port: 5432
