replicaCount: 2

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: "keycloak-ca"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    #nginx.ingress.kubernetes.io/x-forwarded-proto: "https"
    #nginx.ingress.kubernetes.io/x-forwarded-port: "30443"
    nginx.ingress.kubernetes.io/proxy-set-headers: "true"
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/session-cookie-name: "keycloak"
    nginx.ingress.kubernetes.io/session-cookie-path: "/"
    nginx.ingress.kubernetes.io/session-cookie-max-age: "86400"
  hosts:
    - host: uat-auth.sonth-my-app.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: keycloak-uat-tls
      hosts:
        - uat-auth.sonth-my-app.com

auth:
  adminPassword: "uat123"

resources:
  requests:
    cpu: 200m
    memory: "1Gi"
  limits:
    cpu: 500m
    memory: "2Gi"

keycloak:
  extraArgs:
    - start
  extraEnv:
    - name: KEYCLOAK_ADMIN
      value: admin
    - name: KEYCLOAK_ADMIN_PASSWORD
      value: uat123
    - name: KC_PROXY
      value: edge
    - name: KC_PROXY_ADDRESS_FORWARDING
      value: "true"
    - name: KC_HOSTNAME_STRICT
      value: "false"
    - name: KC_HOSTNAME_STRICT_HTTPS
      value: "false"
    - name: KC_HOSTNAME_URL
      value: "https://uat-auth.sonth-my-app.com:30443"
    - name: KC_HOSTNAME_ADMIN_URL
      value: "https://uat-auth.sonth-my-app.com:30443"
    - name: KC_HEALTH_ENABLED
      value: "true"
    - name: KC_METRICS_ENABLED
      value: "true"
  extraEnvFrom:
    - configMapRef:
        name: keycloak-db-config
    - secretRef:
        name: keycloak-db-secret

readinessProbe:
  httpGet:
    path: /health/ready
    port: 8080
    scheme: HTTP
  initialDelaySeconds: 300
  periodSeconds: 10
  failureThreshold: 10

livenessProbe:
  httpGet:
    path: /health/live
    port: 8080
    scheme: HTTP
  initialDelaySeconds: 300
  periodSeconds: 10
  failureThreshold: 6

configMap:
  enabled: true
  data:
    dbVendor: "postgres"
    dbHost: "postgres-uat-postgresql.keycloak-uat.svc.cluster.local"
    dbPort: 5432
    dbName: "keycloak-uat"

secret:
  enabled: true
  stringData:
    username: "keycloak-uat"
    password: "uat123"

