replicaCount: 1

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: "selfsigned"
  hosts:
    - host: dev-auth.sonth-my-app.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: keycloak-dev-tls
      hosts:
        - dev-auth.sonth-my-app.com

auth:
  adminPassword: "dev123"

postgresql:
  postgresqlPassword: "dev123"

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

keycloak:
  extraArgs: ["start-dev"]
