replicaCount: 1

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: "selfsigned"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/x-forwarded-proto: "https"
    nginx.ingress.kubernetes.io/x-forwarded-port: "443"
  hosts:
    - host: dev-auth.sonth-my-app.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: keycloak-dev-tls
      hosts:
        - dev-auth.sonth-my-app.com

auth:
  adminPassword: "dev123"

postgresql:
  postgresqlPassword: "dev123"

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

keycloak:
  extraArgs: ["start-dev"]
  extraEnv:
    - name: KEYCLOAK_ADMIN
      value: admin
    - name: KEYCLOAK_ADMIN_PASSWORD
      value: dev123
    - name: KC_PROXY
      value: edge
