replicaCount: 1

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: "selfsigned"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/x-forwarded-proto: "https"
    nginx.ingress.kubernetes.io/x-forwarded-port: "30443"
    nginx.ingress.kubernetes.io/proxy-set-headers: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/use-regex: "true"
  hosts:
    - host: dev-auth.sonth-my-app.com
      paths:
        - path: /(.*)
          pathType: ImplementationSpecific
  tls:
    - secretName: keycloak-dev-tls
      hosts:
        - dev-auth.sonth-my-app.com

auth:
  adminPassword: "dev123"

postgresql:
  postgresqlPassword: "dev123"

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

keycloak:
  extraArgs: ["start"]
  extraEnv:
    - name: KEYCLOAK_ADMIN
      value: admin
    - name: KEYCLOAK_ADMIN_PASSWORD
      value: dev123
    - name: KC_PROXY
      value: edge
    - name: KC_HOSTNAME
      value: dev-auth.sonth-my-app.com:30443
    - name: KC_HOSTNAME_PORT
      value: "30443"
    - name: KC_PROXY_ADDRESS_FORWARDING
      value: "true" 
    - name: KC_HOSTNAME_STRICT
      value: "false" 
    - name: KC_HOSTNAME_STRICT_HTTPS
      value: "false"
    - name: KC_HTTPS_URL
      value: "https://dev-auth.sonth-my-app.com:30443"
