{{- if and .Values.configMap .Values.configMap.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-db-config
  labels:
    {{- include "keycloak.labels" . | nindent 4 }}
data:
  KC_DB: {{ .Values.configMap.data.dbVendor | quote }}
  KC_DB_URL_HOST: {{ .Values.configMap.data.dbHost | quote }}
  KC_DB_URL_PORT: {{ .Values.configMap.data.dbPort | quote }}
  KC_DB_URL_DATABASE: {{ .Values.configMap.data.dbName | quote }}
  KC_DB_URL: "jdbc:postgresql://{{ .Values.configMap.data.dbHost }}:{{ .Values.configMap.data.dbPort }}/{{ .Values.configMap.data.dbName }}"
{{- end }}
